# Environment files
*.env
*.local

# Database
db.sqlite3
*.db
*.sqlite3

# Logs
*.log
debug.log

# Python files
__pycache__/
*.py[cod]
*$py.class

# Django files
staticfiles/
media/
**/migrations/*.py
!**/migrations/__init__.py

# Dependencies
Pipfile.lock
poetry.lock

# IDE/Editor files
.vscode/
.idea/
*.iml

# Build files
build/
dist/
*.egg-info/
.eggs/

# Temporary files
*.bak
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
docker-compose.override.yml

# Testing and coverage
.coverage
htmlcov/
.cache/

# Dot file
my_project.dot